<?xml version="1.0" encoding="utf-8"?>
<EditorListScrollingConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="KSP-Forum">
  <invertMouseWheel>false</invertMouseWheel>
  <mouseWheelSensitivity>1</mouseWheelSensitivity>
  <advancedDebugging>false</advancedDebugging>
</EditorListScrollingConfig>